.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3rem;
  background: var(--accent);
  border: 0.05rem solid var(--accent);
  transform: skew(25deg);

  &--alt {
    background: #0d0d0d;
    border: 0.05rem solid #0d0d0d;
  }

  &__link {
    font-size: 1.4rem;
    font-weight: 700;
    color: #0d0d0d;
    transform: skew(-25deg);
    letter-spacing: -0.28px;
    line-height: 1.8rem;

    &--alt {
      color: var(--accent);
    }
  }

}
