.title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #0d0d0d;
  line-height: 125%;
  letter-spacing: -0.072rem;
  text-transform: uppercase;

  &--accent {
    color: var(--accent);
  }

  &--light {
    color: #fff;
  }

  @media screen and (max-width: 576px) {
    font-size: 3.1rem;
  }
}
