.contact-form {
  background: var(--accent);
  padding-block: 14rem;

  &__wrapper {
    display: flex;
    gap: 9.6rem;
    /* justify-content: space-between; */

    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 5rem;
    }
  }

  &__right {
    max-width: 924px;
  }
}
