.creations-card {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 12.8rem;

  @media screen and (max-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  @media screen and (max-width: 768px) {
    padding-bottom: 8rem;
  }

  @media screen and (max-width: 576px) {
    padding-bottom: 5rem;
  }

  &__inner {
    position: relative;
    max-width: 71.4rem;
    max-height: 56rem;
    overflow: hidden;

    @media screen and (max-width: 576px) {
      overflow-y: auto;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgb(0, 0, 0, 0%) 63.26%,
        rgb(0, 0, 0, 40%) 100%
      );
    }

    &.active {
      .creations-card {
        &__description {
          transform: translateY(0);
        }

        &__wrapper {
          translate: 0 0;
        }

        &__button {
          span {
            &::before {
              rotate: -90deg;
            }
          }
        }

        &__header {
          border-bottom: 1px solid #e9e9e9;

          &::before {
            transform: translateY(0);
          }
        }

        &__title {
          color: #0d0d0d;
        }
      }
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    transition: all 1s;
    flex-direction: column;
    translate: 0 84%;

    @media screen and (max-width: 1200px) {
      translate: 0 47rem;
    }
    @media screen and (max-width: 576px) {
      translate: 0 84%;
    }
    @media screen and (max-width: 450px) {
      translate: 0 80%;
    }
    @media screen and (max-width: 380px) {
      translate: 0 78%;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9rem;
    padding: 2.4rem;
    overflow: hidden;
    border-top: 1px solid #e9e9e9;

    @media screen and (max-width: 576px) {
      padding: 3.7rem 2.4rem;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background: white;
      transform: translateY(-100%);
      transition: transform 1s;
      z-index: -1;
    }
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 700;
    color: #fff;
    transition: all 1s;
    letter-spacing: -0.048rem;
    text-transform: uppercase;

    @media screen and (max-width: 576px) {
      font-size: 2rem;
    }
  }

  &__button {
    position: relative;
    width: 5.6rem;
    height: 4.2rem;
    margin-right: 0.7rem;

    @media screen and (max-width: 1200px) {
      width: 5rem;
      height: 3.6rem;
    }
    @media screen and (max-width: 576px) {
      width: 4.6rem;
      height: 3.2rem;
    }

    span {
      transform: skew(-18deg);

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: 50%;
        width: 0.2rem;
        height: 1.8rem;
        background-color: #0d0d0d;
        translate: 0 -50%;
      }

      &::before {
        transition: all 1s;
      }

      &::after {
        rotate: 90deg;
      }
    }
  }

  &__description {
    position: relative;
    display: flex;
    padding: 2.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #0d0d0d;
    background: white;
    transform: translateY(40%);
    transition: transform 1s;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    letter-spacing: -0.032rem;
    line-height: 170%;
    transform-origin: bottom;

    @media screen and (max-width: 576px) {
      gap: 1rem;
    }
  }

  &__button--alt {
    margin-bottom: 2.4rem;
    margin-left: 3.4rem;
  }
  
  &__footer {
    background: white;
  }
}
